<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556001813213-lemukk0kf2qdbcenj3vhnsts4jqh8mqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556001813213-lemukk0kf2qdbcenj3vhnsts4jqh8mqa</string>
	<key>API_KEY</key>
	<string>AIzaSyA_GR6s2i4pLMBXI8x--Kkcvkqggo8Khao</string>
	<key>GCM_SENDER_ID</key>
	<string>556001813213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stroc.Artable</string>
	<key>PROJECT_ID</key>
	<string>artable-704f8</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-704f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556001813213:ios:c460b02534e3fdb2</string>
	<key>DATABASE_URL</key>
	<string>https://artable-704f8.firebaseio.com</string>
</dict>
</plist>